*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alata', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/* -----Account page------ */
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

li.active a{
    background: red;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.account-page{
    background:radial-gradient(#fff,#ffd6d6);
    padding: 50px 0;
}
ul {
    list-style-type: none;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin:10px 0;
}
.form .btn:focus{
    outline: none;
}
#Loginform{
    left:0px;
}

form a{
    font-size: 12px;
    color: black;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top:8px ;
    transform: translateX(0px);
}
.btn{
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
form a{
    font-size: 12px;
    text-decoration: none;
}

/* ----media query for menu------ */
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}


/* less 600px */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32x;
    }
    .cart-info p{
        display: none;
    }
}


